html {
    font-family: Lato, sans-serif;
    
}
*,
*::after,
*::before {
    box-sizing: inherit;
}


body {
    box-sizing: border-box;
    margin:0;
}

.navbar {
    background: #f3f6f6;
    margin: 0 0;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 24px;
    

}
.navbar__logo {
    
    max-width: 70px;
    height: auto;
    margin-right: 30px;

}
.navbar__brand {
    display: flex;
    align-items: center;
}

.navbar__navigation {
    display: flex;
    flex-direction: row;
    padding:0;
    list-style: none;
    margin: auto auto;
    height: auto;
    margin-left: 20px;
    font-size: 18px;
    

}
.navbar__navigation-item {
    
    cursor:pointer;
    
    
}

.navbar__navigation-item:hover {
    color: grey;
    
}

.main {
    max-width: 100%;
    margin: 0 20px;
}
.form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.form__input {
    width: 100%;
}
.form__submit {
    display: block;
    background: #003265;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    border:none;
    padding: 5px 20px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 30px;
}
.form__submit:hover {
    background-color:#fff;
    color: #003265
}

.footer {
    display:flex;
    flex-direction: row;

    position:absolute;
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
    background:#003265;
 }
.footer-item {
    margin-left: 20px;
    list-style: none;
    margin: 10px 20px;
}
.footer-link {
    text-decoration: none;
    color: #fff;
    
}