{% extends "layout.html" %}
{% block content %}
    <h4>Select files</h4>
    <form enctype = "multipart/form-data" onsubmit="return false;" >
       <input id="file" type="file" name="filenames" multiple="true"/>
       <button id="upload-button" onclick="uploadFile(this.form)"> Upload </button>
    </form>
    <div id="static_file_response"> </div>
    <!--<p><a href="/v1/delete_web">Reset Files</a></p>-->
    <p>
    <form action="/v1/delete_web" method="post">
        <button name="foo" value="Reset Files">Reset Files</button>
    </form>
    </p>
    <p>
    {%if names%}

    <table id="data" class="table table-striped">
        <thead>
          <tr>
            <th>Uploaded Files</th>
            <th>Details</th>
          </tr>
        </thead>
        <tbody>
          {% for name in names %}
            <tr>
              <td><p class="entry__item"><a href="/uploads/{{name}}">{{name | truncate(30, true)}}</a></p></td>
              <td><p class="entry__item"><a href="/v1/metadata_web/{{name}}">Details</a></p></td>
            </tr>
          {% endfor %}
        </tbody>
  </table>
    {%endif%}
    </p>
{% endblock %}