{% extends "layout.html" %}
{% block content %}
    <h2>Select files</h2>
    <form enctype = "multipart/form-data" onsubmit="return false;" >
       <input id="file" type="file" name="files[]" multiple="true"/>
       <button id="upload-button" onclick="uploadFile(this.form)"> Upload </button>
    </form>
    <div id="static_file_response"> </div>
    <p><a href="/delete">Reset Files</a></p>
    <p>
    {%if names%}
    <h2>Uploaded Files</h2>
    {%endif%}
    {%for name in names%}
    <div class="entry">
        <h3 class="entry__item"><a href="/uploads/{{name}}">{{name | truncate(30, true)}}</a></h3>
        <h4 class="entry__item"><a href="/metadata/{{name}}">Metadata</a></h4>
        <h4 class="entry__item"><a href="/tables/{{name}}">Tables</a></h4>
        <h4 class="entry__item"><a href="/images/{{name}}">Images</a></h4>
    </div>
    <hr>
    {% endfor %}
    </p>
{% endblock %}