<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AdA</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link rel="icon" href="/static/cs.png" type="image/gif" sizes="16x16">
    <link rel="stylesheet" href="/static/CSS/style.css" />
    <script type="text/javascript" src="/static/app1.js"></script>
</head>


<body>
    <header class="navbar">
        <div class= "navbar__brand">
            <!--<img class ="navbar__logo" src="/static/cs.png" alt="microblog logo" />-->Audit Document Analyzer

        </div>



         <div class="navbar__search">
            <form action="/v1/search_web" method="POST">
                <input type="text" placeholder="Search.." name="search">
                <input type="radio" checked id= "kw" name="kw" value="query" > Query
                <input type="radio"  id= "kw" name="kw" value="kw" > Keywords
                <button type="submit">Search</button>
            </form>

        </div>
    
    </header>


    <main class="main">

        {% block content %}{% endblock %}
        
    </main>
    <footer class="footer">
        <li class="footer-item"><a class ="footer-link" href="\" class=footer__link>Home</a></li>
        <li class="footer-item"><a class ="footer-link" href="\about" class=footer__link>About</a></li>

    </footer>
    

</body>

</html>