{% extends "layout.html" %}
{% block content %}
    <h1>{{filename}}</h1>
<table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>Parameter</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
      {% for doc in final_response %}
      <!--reg_data = "{% for key in tb_index_reg %}Key: {{key}} Value: {{doc}}\n{% endfor %}"-->
        <tr>
          <td>{{ doc }}</td>
          <td>{{final_response[doc]}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endblock %}

