{% extends "layout.html" %}

{% block content %}

{%if overall_dict%}
<table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>Document</th>
        <th>Occurances</th>
      </tr>
    </thead>
    <tbody>
      {% for doc in overall_dict %}
      <!--reg_data = "{% for key in tb_index_reg %}Key: {{key}} Value: {{doc}}\n{% endfor %}"-->
        <tr>
          <td>{{ doc }}</td>
          <td><p class="entry__item"><a href="/regex_docs/{{reg_data+'---'+doc}}">{{ overall_dict[doc] }}</a></p></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>


{%endif%}

{%endblock%}