<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crisp Reports</title>
    <link rel="stylesheet" href="/static/CSS/style.css" />
</head>


<body>
    <header class="navbar">
        <div class= "navbar__brand">
            <img class ="navbar__logo" src="/static/cs.png" alt="microblog logo" />Crisp Documents
        </div>
        <ul class="navbar__navigation">
            <li class= "navbar__navigation-item"></li>
        </ul>
    </header>
    <main class="main">
        <h2>Methodology:</h2>
        <p>
            <ul>
                <li class="about-items" style="text-decoration: underline; text-decoration-color: green; text-decoration-thickness: 3px;">Confusing words</li>
                <li class="about-items" style="text-decoration: underline; text-decoration-color: rgb(238, 8, 104);text-decoration-thickness: 3px;">Abbrevations</li>
                <li class="about-items" style="text-decoration: line-through; text-decoration-color: red;text-decoration-thickness: 2px;">Empty Phrases</li>
                <li class="about-items" style="background-color:yellow;display: inline-flex;">Passive Voice</li>
            </ul>
        </p>

        
        
    </main>
    <footer class="footer">
        <li class="footer-item"><a class ="footer-link" href="\" class=footer__link>Home</a></li>
        <li class="footer-item"><a class ="footer-link" href="\about" class=footer__link>About</a></li>

    </footer>

    

</body>

</html>