<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crisp Reports</title>
    <link rel="stylesheet" href="/static/CSS/style.css" />
</head>


<body>
    <header class="navbar">
        <div class= "navbar__brand">
            <img class ="navbar__logo" src="/static/cs.png" alt="microblog logo" />Crisp Documents
        </div>
        <ul class="navbar__navigation">
            <li class= "navbar__navigation-item"></li>
        </ul>
    </header>
    <main class="main">

        <section>
            <h1> Add Files</h1>
            <form class="form" method=post enctype=multipart/form-data>
                <p class="form__input">

                    <input class= "form__file" type=file name=file>
                    <input class= "form__submit" type=submit value=Upload>
                </p>
        
            </form>
        </section>
        
    </main>
    <footer class="footer">
        <li class="footer-item"><a class ="footer-link" href="\" class=footer__link>Home</a></li>
        <li class="footer-item"><a class ="footer-link" href="\about" class=footer__link>About</a></li>

    </footer>
    

</body>

</html>